.flex-parent {
  display: flex;
  flex-wrap: wrap;
  min-width: 1800px;
}
.flex-parent-second-lvl {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.flex-parent-third-lvl {
  display: flex;
  flex-wrap: wrap;
}
.flex-parent-four-lvl {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 600px;
  width: 600px;
}
.flex-parent-four-lvl:nth-child(even) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 600px;
  width: 600px;
}
.flex-child {
  width: 300px;
  height: 300px;
  border: 2px dotted goldenrod;
  box-sizing: border-box;
}
.flex-child:nth-child(3n) {
  background-color: gray;
}
.flex-child:not(:nth-child(3n)) {
  background-color: greenyellow;
}
.flex-child:nth-child(2n + 2) {
  background-color: hotpink;
}

.height {
  height: 600px;
}

.long {
  width: 600px;
}
